# Project specific
tests/testthat/pdfs_plots

# Tags
*tags

# Logs 
log/
*.log
*.coverage

# Mac specific
.DS_Store
.DS_Store?

# R
*.Rproj.user
*.Rprofile
renv/
*.Rcheck

# Open cached files 
*.m~
*.*swp
*.*swo

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
